<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Action</title>
</head>
<body>

    <div class="header">
        <h1>Directory of Services</h1>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Settings</button>
        <div class="dropdown-content">
          <a href="profile.html">Profile</a>
        </div>
      </div>
    
      <a href="/" class="logout">Logout</a>

        {% for line in A %}
            <div class="copybtninline">
                <p class="actiontitleuser" id="copyText"> {{ line['condition'] }} </p>
                <button onclick="copyToClipboard()" class="copybtn">Copy</button>
            </div>
            <p class="actiontext"> {{ line['action'] }} </p>
        {% endfor %}

        
        <div class="uploadsbox">
            <p class="actionheader">Action</p>
        </div>
        
        <span class="resourcesbox">
            <p class="resourcesheader">Resources</p>
            <table id="table">
                <thead>
                    <th>Name</th>
                    <th>Attachment</th>
                </thead>
                <tbody>
                    {% for line in resources %}
                    <tr>
                        <td>{{ line['name'] }}</td>
                        <td><a href="{{ line['link'] }}" target="_blank">View link</a></td>
                    </tr>
                {% endfor %}

                {% for line in files %}
                    <tr>
                        <td>{{ line['name'] }}</td>
                        <td>
                            <a href = "javascript:void(0)" onclick = "document.getElementById('picture').style.display='block';document.getElementById('fade').style.display='block'">View Attachment</a>
                        </td>

                        <div id="picture" class="popupboxbig">
                            <img class="image" src="{{ url_for('uploaded_file', filename=line['image']) }}" alt="">
                            <iframe src="{{ url_for('uploaded_file', filename=line['image']) }}" frameborder="0" width="90%" height="90%" allowfullscreen></iframe>
                            <a class="close" href = "javascript:void(0)" onclick = "document.getElementById('picture').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
                        </div>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
         
        <a class="btn-back" href="AtoZ-standard.html">
            <img class="Home" src="{{ url_for('static', filename='images/home.webp') }}" alt="Home Button">
        </a>

        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" class="suggesteditbtn">Suggest an Edit</a>
        <div id="light" class="popupbox">

            <div class="centre">

                <form action="/suggestedit.html" method="post" class="loginform">
                
                    <label for="condition" class="form1stlabel">Condition</label>
                    <input type="text" name="suggested_condition" placeholder="Suggest a Condition" autofocus required class="form1stinput">

                    <label for="action" class="form2ndlabel">Action to be Taken</label>
                    <input type="text" name="suggested_action" placeholder="Suggest an Action" autofocus class="form2ndinput">
                
                    <button type="submit" class="submitbtn">Submit</button>

                </form>

        </div>
            
        <a class="close" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
        </div>
        <div id="fade" class="black_overlay"></div>

        <script>
            function copyToClipboard() {
                var copyText = document.getElementById("copyText");
    
                var range = document.createRange();
                range.selectNode(copyText);
    
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
    
                try {
                    document.execCommand("copy");
                } catch (error) {
                    console.error("Unable to copy text to clipboard", error);
                }
    
                window.getSelection().removeAllRanges();
            }
        </script>

</body>
</html>