<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Action</title>
</head>
<body>

    <div class="header">
        <h1>Directory of Services</h1>
    </div>

    <a href="/" class="logout">Logout</a>

    <div class="dropdown-for-settings-button">
        <button class="dropbtn-for-settings-button">Settings</button>
        <div class="dropdown-content-for-settings-button">
          <a href="profile.html">Profile</a>
          {% if role == 'Y' %}
          <a href="suggestions.html">Suggestions</a>
          <a href="users.html">Manage Users</a>
          {% endif %}
        </div>
      </div>
    
    {% for line in A %}
    <div class="copybtninline">
        <p class="actiontitle" id="copyText"> {{ line['condition'] }} </p>
        <button onclick="copyToClipboard()" class="copybtn">Copy</button>
    </div>
    {% endfor %}

    <div class="uploadsbox">
        
        {% if role == 'Y' %}
        <a class=" editbtn editcondition fa fa-pencil" href = "javascript:void(0)" onclick = "document.getElementById('conditionA').style.display='block';document.getElementById('fade').style.display='block'" style="font-size: 40px;"></a>
        
        <div id="conditionA" class="popupboxsmall">
            
            <div class="centre">
                <form action="/replace_condition" method="post" class="loginform">
                    <label class="form1stlabel">Old Value</label>
                    {% for line in A %}
                    <input type="text" name="old_condition" value="{{ line['condition'] }}" readonly class="form1stinput">
                    {% endfor %}
                    
                    <label class="form2ndlabel">New Value</label>
                    <input autofocus type="text" name="new_condition" required class="form2ndinput" placeholder="Enter the new value">
                    
                    <input type="submit" class="submitbtn" value="Save">
                </form>
            </div>
            
            <a class="close-button-for-lightbox" href = "javascript:void(0)" onclick = "document.getElementById('conditionA').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
            
        </div>
        
        <div id="fade" class="black_overlay"></div>
        {% endif %}
        
        <p class="actionheader">Action</p>

        {% for line in A %}
        <p class="actiontext"> {{ line['action'] | safe }} </p>
        {% endfor %}
        
        {% if role == 'Y' %}
        <a class=" editbtn editaction fa fa-pencil" href = "javascript:void(0)" onclick = "document.getElementById('actionA').style.display='block';document.getElementById('fade').style.display='block'" style="font-size: 20px;"></a>
        
        <div id="actionA" class="popupbox">
            
            <div class="centrebigger">
                <form action="/replace_action" method="post" class="loginform">
                    <label class="form1stlabel">Old Value</label>
                    {% for line in A %}
                    <input type="hidden" name="old_action" value="{{ line['action']}}" readonly>
                    <p class="actionold">{{ line['action'] | safe }}</p>
                    {% endfor %}
                    
                    <label class="form2ndlabel">New Value</label>
                    <textarea id="summernote" name="new_action" class="form2ndinput" required></textarea>
                    
                    <input type="submit" class="submitbtn" value="Save">
                </form>
            </div>
            
            <a class="close-button-for-lightbox" href = "javascript:void(0)" onclick = "document.getElementById('actionA').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
            
        </div>

        <div id="fade" class="black_overlay"></div>
        {% endif %}

    </div>
    

    <div class="resourcesbox">
        <p class="resourcesheader">Resources</p>

        {% if role == 'Y' %}
        <a class=" editbtn addresources" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">+</a>
        <div id="light" class="popupbox">
            <div class="centrebig">
                
                <form action="/addresources.html" method="post" enctype="multipart/form-data" class="loginform">
                    <label for="Resource Name" class="form1stlabel">Name</label>
                    <input autocomplete="off" autofocus name="name" placeholder="Enter Name" type="text" class="form1stinput" required>
                    
                    <label for="Attachment/Link" class="form2ndlabel">Type</label>
                    <label>
                        <input type="radio" name="options" value="Link" onclick="showForm('link')"> Link
                    </label>
                    <label>
                        <input type="radio" name="options" value="Attachment" onclick="showForm('attachment')"> Attachment
                    </label>
                    
                    <div id="link" style="display: none;">
                        <!-- Form for option 1 -->
                        {% for line in A %}
                        <input type="hidden" name="condition" value="{{ line['condition'] }}" readonly>
                        {% endfor %}
                        <input type="text" name="link" id="linkInput" placeholder="Enter Full Link" class="forminputlink">
                    </div>
                    
                    <div id="attachment" style="display: none;">
                        <!-- Form for option 2 -->
                        {% for line in A %}
                        <input type="hidden" name="condition" value="{{ line['condition'] }}" readonly>
                        {% endfor %}
                        <input type="file" name="file" class="upload">
                    </div>    
                    
                    <button type="submit" class="submitbtn" style="margin-top: 10px">Add Resource</button>
                </form>
                
                
            </div>
            <a class="close-button-for-lightbox" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
        </div>
        <div id="fade" class="black_overlay"></div>
        {% endif %}
        
        <table id="table">
            <thead>
                <th>Name</th>
                <th>Attachment</th>
                {% if role == 'Y' %}
                <th></th>
                {% endif %}
            </thead>
            <tbody>
                {% for line in resources %}
                <tr>
                    <td>{{ line['name'] }}</td>
                    <td><a href="{{ line['link'] }}" target="_blank">View link</a></td>
                    {% if role == 'Y' %}
                    <td>
                        <form action="/remove_resource/{{ line['id'] }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="removebtn">Remove</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

                {% for line in files %}
                    <tr>
                        <td>{{ line['name'] }}</td>

                        <td>
                            <a href = "javascript:void(0)" onclick = "document.getElementById('picture').style.display='block';document.getElementById('fade').style.display='block'">View Attachment</a>
                        </td>

                        <div id="picture" class="popupboxbig">
                            <img class="image" src="{{ url_for('uploaded_file', filename=line['image']) }}" alt="">
                            <iframe src="{{ url_for('uploaded_file', filename=line['image']) }}" frameborder="0" width="90%" height="90%" allowfullscreen></iframe>
                            <a class="close-button-for-lightbox" href = "javascript:void(0)" onclick = "document.getElementById('picture').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
                        </div>

                        <div id="fade" class="black_overlay"></div>
                        {% if role == 'Y' %}
                        <td>
                            <form action="/remove_resource/{{ line['id'] }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="removebtn">Remove</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    {% if role == 'N' %}
    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" class="suggesteditbtn">Suggest an Edit</a>
    <div id="light" class="popupbox">
        
        <div class="centrebig">
            
            <form action="/suggest.html" method="post" class="loginform">
                <input type="hidden" name="addedit" value="Edit">
                
                <label for="condition" class="form1stlabel">Existing Action</label>
                {% for line in A %}
                <input type="hidden" name="oldaction" value="{{ line['action'] }}" readonly>
                <p class="actionold">{{ line['action'] | safe }}</p>
                {% endfor %}
                
                <label for="action" class="form2ndlabel">New Action</label>
                <textarea id="summernote" name="suggested_action" class="form2ndinput" required></textarea>
                
                <button type="submit" class="submitbtn">Submit</button>
                
            </form>
            
        </div>
        
        <a class="close-button-for-lightbox" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
    </div>
    <div id="fade" class="black_overlay"></div>
    {% endif %}
    
    <a class="btn-back" href="AtoZ.html">
        <img class="Home" src="{{ url_for('static', filename='images/home.webp') }}" alt="Home Button">
        </a>
        
        <script>
            function copyToClipboard() {
                var copyText = document.getElementById("copyText");
    
                var range = document.createRange();
                range.selectNode(copyText);
                
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
                
                try {
                    document.execCommand("copy");
                    alert("Text copied to clipboard: " + copyText.innerText);
                } catch (error) {
                    console.error("Unable to copy text to clipboard", error);
                }
                
                window.getSelection().removeAllRanges();
            }

            function showForm(formId) {
            // Hide all forms
            document.getElementById('link').style.display = 'none';
            document.getElementById('attachment').style.display = 'none';

            // Show the selected form
            document.getElementById(formId).style.display = 'block';
        }

        $('#summernote').summernote({
        height: 200
            });
            
        </script>

</body>
</html>
