<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Directory of Services</title>
</head>
<body>

  <a class="btn-back" href="AtoZ.html">
    <img class="Home" src="{{ url_for('static', filename='images/home.webp') }}" alt="Home Button">
  </a>

    <div class="header">
        <h1>Directory of Services</h1>
    </div>

    <a href="/" class="logout">Logout</a>

    <div class="dropdown">
        <button class="dropbtn">Settings</button>
        <div class="dropdown-content">
          <a href="profile.html">Profile</a>
          <a href="suggestions.html">Suggestions</a>
          <a href="users.html">Manage Users</a>
        </div>
      </div>
      
      
      <ul class="navbarpos">
        <li><a href="users.html">View Users</a></li>
        <li><a class="active" href="addusers.html">Add Users</a></li>
      </ul>
      
      <div class="centre">
        <form action="/newuser.html" method="post" class="loginform">
          <label for="newusername" class="form1stlabel">Username</label>
          <input autocomplete="off" autofocus name="username" placeholder="Enter Username" type="text" class="form1stinput" required>
          
          <label for="newpassword" class="form2ndlabel">Password</label>
          <input autocomplete="off" autofocus name="password" placeholder="Enter Password" type="password" class="form2ndinput" required>
          
          <label for="role" class="form3rdlabel">Is this user an admin?</label>
          <label for="yes" class="yes"><i>Yes</i></label>
          <input name="admin" type="checkbox" value="Y" class="checkyes">
          
              <button type="submit" class="submitbtn">Add User</button>
            </form>
        </div>
       
</body>
</html>