<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Directory of Services</title>
</head>

<body>

    <div class="header">
        <h1>Directory of Services</h1>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Settings</button>
        <div class="dropdown-content">
          <a href="profile.html">Profile</a>
        </div>
      </div>
    
      <a href="/" class="logout">Logout</a>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for conditions" title="Type in a name">

<ul id="myUL">
    {% for line in A %}
        <li><a href="{{ url_for('actionA2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in B %}
        <li><a href="{{ url_for('actionB2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in C %}
        <li><a href="{{ url_for('actionC2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in D %}
        <li><a href="{{ url_for('actionD2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in E %}
        <li><a href="{{ url_for('actionE2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in F %}
        <li><a href="{{ url_for('actionF2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in G %}
        <li><a href="{{ url_for('actionG2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in H %}
        <li><a href="{{ url_for('actionH2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in I %}
        <li><a href="{{ url_for('actionI2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in J %}
        <li><a href="{{ url_for('actionJ2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in K %}
        <li><a href="{{ url_for('actionK2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in L %}
        <li><a href="{{ url_for('actionL2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in M %}
        <li><a href="{{ url_for('actionM2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in N %}
        <li><a href="{{ url_for('actionN2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in O %}
        <li><a href="{{ url_for('actionO2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in P %}
        <li><a href="{{ url_for('actionP2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in Q %}
        <li><a href="{{ url_for('actionQ2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in R %}
        <li><a href="{{ url_for('actionR2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in S %}
        <li><a href="{{ url_for('actionS2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in T %}
        <li><a href="{{ url_for('actionT2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in U %}
        <li><a href="{{ url_for('actionU2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in V %}
        <li><a href="{{ url_for('actionV2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in W %}
        <li><a href="{{ url_for('actionW2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in X %}
        <li><a href="{{ url_for('actionX2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in Y %}
        <li><a href="{{ url_for('actionY2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
    {% for line in Z %}
        <li><a href="{{ url_for('actionZ2', condition=line['condition'], action=line['action']) }}">{{ line['condition'] }}</a></li>
    {% endfor %}
</ul>

    <br>

<div class="centrebuttons">

        <a href="A2.html" class="btn">A</a>
        
        <a href="B2.html" class="btn">B</a>
        
        <a href="C2.html" class="btn">C</a>
        
        <a href="D2.html" class="btn">D</a>
        
        <a href="E2.html" class="btn">E</a>
        
        <a href="F2.html" class="btn">F</a>
        
        <a href="G2.html" class="btn">G</a>
        
        <a href="H2.html" class="btn">H</a>
        
        <a href="I2.html" class="btn">I</a>
        
        <a href="J2.html" class="btn">J</a>
        
        <a href="K2.html" class="btn">K</a>
        
        <a href="L2.html" class="btn">L</a>
        
        <a href="M2.html" class="btn">M</a>
        
        <a href="N2.html" class="btn">N</a>
        
        <a href="O2.html" class="btn">O</a>
        
        <a href="P2.html" class="btn">P</a>
        
        <a href="Q2.html" class="btn">Q</a>
        
        <a href="R2.html" class="btn">R</a>
        
        <a href="S2.html" class="btn">S</a>
        
        <a href="T2.html" class="btn">T</a>
        
        <a href="U2.html" class="btn">U</a>
        
        <a href="V2.html" class="btn">V</a>
        
        <a href="W2.html" class="btn">W</a>
        
        <a href="X2.html" class="btn">X</a>
        
        <a href="Y2.html" class="btn">Y</a>
        
        <a href="Z2.html" class="btn">Z</a>
    </div>
        
        
    <script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        
        var hasMatchingNames = false;
        
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
                hasMatchingNames = true;
            } else {
                li[i].style.display = "none";
            }
         }
        
         // Display or hide the entire list based on whether there are matching names
        ul.style.display = hasMatchingNames ? "block" : "none";
    }
    </script>

</body>
</html>