<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Conditions</title>
</head>
<body>

    <div class="header">
        <h1>Directory of Services</h1>
    </div>

    <h1 class="enterconditions-title">Enter Conditions</h1>
    <form action="/register.html" method="post" enctype="multipart/form-data">
        <label for="condition" class="">Condition:</label>
        <input autocomplete="off" autofocus name="condition" placeholder="Enter Condition" type="text" class="" required>
        <label for="action" class="">Action to be taken:</label>
        <input autocomplete="off" autofocus name="action" placeholder="Enter Action" type="text" class="">
        <input type="file" name="file" class="upload" accept="image/">        
        <button type="submit" class="">Add Condition</button>
    </form>

</body>
</html>