<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Directory of Services</title>
</head>

<body>
    
  <!-- Header -->
    <div class="header">
      <h1>Directory of Services</h1>
    </div>

    <div class="centre"> 
  
      <form action="/verify.html" method="post" class="loginform">
        
          <label for="username" class="form1stlabel">Email Address</label>
          <input type="text" name="username" placeholder="yoursurgery@nhs.net" autocomplete="off" autofocus required class="form1stinput">
        
          <label for="password" class="form2ndlabel">Password</label>
          <input type="password" name="password" placeholder="Enter Password" class="form2ndinput" autofocus required>
  
        <button type="submit" class="submitbtn">Login</button>
      </form>
  
      <a href="forgotpassword.html" class="forgotpassword">Forgot Password?</a>
    
    </div>

    <p class="wrongpassword">Invalid email address or password</p>

</body>
</html>